html{
  background-color: #595959;
  display: flex;
  flex-direction: column;
}
body{
  font-family: sans-serif;
  font-size: 1em;
  margin: 0px;
  align: center;
  width: 100%;
  margin: auto;
  /* background-color: #fff; */
  color: white;
  text-align: center;
}
h1, h2{
  color: #f90;
}
h2{
  padding: 0px;
  margin-top: 2%;
  margin-bottom: 2%;
}

section{
  text-align: center;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
article{
  /* border: 2px solid red ; */
  text-align: left;
}
article h2{
  text-align: center;
}
/*uniquement pour la page d'acceuil*/
article h3{
  padding-left: 5%;
}
/*uniquement pour la page jobs*/
.jobsSec{
  text-align: center;
  margin: auto;
  color: #f90;
}
.jobsSec div{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.jobsSec div article{
  background-color: #777;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  border: 0.5px solid #777;
  margin: 2%;
  width: 60%;
  height: 20%;
  margin-right: auto;
  margin-left: auto;
}
.jobsSec div article div:first-child img{
  width: 100%;
  height: auto;
  margin: auto;
}
.jobsSec div article div:first-child{
  /* position: absolute; */
  width: 25%;
  height: auto;
  float: left;
  display: flex;
  flex-direction: column;
}
.jobsSec div article div:last-child h2{
  color: #f90;
}
.jobsSec div article div:last-child h3{
  padding: 0px;
}
.jobsSec div article div:last-child h3 span{
  color: black;
}
.jobsSec div article div:last-child{
  width: 70%;
  text-align: center;
  /* float: right; */
  justify-content: center;
}
.jobsSec div article div{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobsSec div article div h3{
  justify-content: center;
}
.jobsSec div article div img{
  width: 20%;
}
.jobsSec div article div p::after h3{
  width: 70%;
}
/*pour la page client*/
section .addContract{
  width: 450px;
  height: 70px;
  margin: auto;
  border: 0.5px solid #d0d0d0;
  float: left;
}
section .addContract a{
  height: 80%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
section .addContract a img{
  max-width: 50px;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
/*style sheet for froms*/
.addSec h2{
  text-align: center;
}
.addSec form label{
  border: 2px solid #595959;
  height : 6%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  float: left;
  text-align: center;
  padding: 5px 5px;
}
.addSec form input{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  height: 6%;
  width: 60%;
  float: right;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #595959;
  color: white;
}
.addSec form input:last-of-type{
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

form .hide{
  display: none;
}

.ourInfo form label{
  height : 6%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  float: left;
  text-align: center;
  padding: 5px 5px;
}
.ourInfo form input{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  height: 6%;
  width: 60%;
  float: right;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid white;
  color: white;
  background-color: #595959;
}
.ourInfo form input:last-of-type{
  width: 100%;
  width: 50%;
  border-radius: 4px;
  margin-right: 25%;
  margin-left: 25%;
}

.login form input{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  height: 6%;
  width: 60%;
  float: right;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid white;
  color: white;
  background-color: #595959;
}
.login form label{
  height : 6%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  float: left;
  text-align: center;
  padding: 5px 5px;
}
.login form input:last-of-type{
  width: 50%;
  border-radius: 4px;
  margin-right: 25%;
  margin-left: 25%;
}

.createSec form input{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  height: 6%;
  width: 60%;
  float: right;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid white;
  color: white;
  background-color: #595959;
}
.createSec form label{
  height : 6%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  float: left;
  text-align: center;
  padding: 5px 5px;
}
.createSec form input:last-of-type{
  width: 50%;
  border-radius: 4px;
  margin-right: 25%;
  margin-left: 25%;
}

.presentation{
  text-align: justify;
}
.presentation article p{
  width: 60%;
  margin: auto;
}
.presentation article h2:first-of-type{
  font-variant: small-caps;
}

/*part of style sheet for footer*/
footer{
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
