header{
  width: 100%;
  background-color: #fff;
}
header div{
  width: 90%;
  margin: auto;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header div{
  display: flex;
  flex-direction: row;
}
header div a{
  height: 20%;
}

header div a img{
  max-width: 100%;
  height: auto;
}

header nav{
  height: 20%;
}

nav ul{
  display: flex;
  list-style-type: none;
  align-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0px;
}

nav ul a li{
  list-style-type: none;
}

nav ul a{
  background-color: #fff;
  padding: 10px;
  border-right:  0.5px solid #626262;
  border-top:  0.5px solid #626262;
  border-bottom:  0.5px solid #626262;
}
nav ul a li{
  width: 100%;
}
nav ul:last-child a li{
  width: 100%;
}
nav ul a li img{
  height: 30px;
  width: auto;
}
nav ul a{
  text-decoration: none;
  color: black;
}

header a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

nav ul a:first-child{
  border-left:  0.5px solid #626262;
}

nav ul a:hover{
  background-color: #d0d0d0;
  color: black;
}
