header{
  width: 100%;
  background-color: #fff;
}
header div{
  width: 90%;
  margin: auto;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header div h1{
  /* color: #626262; */
  text-align: center;
  height: 5%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2em;
}
/*je n'arrive pas à récuidre l'image du compte*/
/* a faire ..*/
header div a{
  max-width: 5px;
  height: auto;
}

nav ul{
  display: flex;
  list-style-type: none;
  align-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 0px;
}

nav ul li{
  list-style-type: none;
  background-color: #fff;
  padding: 10px;
  text-decoration: none;
  border-right:  0.5px solid #626262;
  border-top:  0.5px solid #626262;
  border-bottom:  0.5px solid #626262;
}
nav ul li a img{
  height: 30px;
  width: auto;
}
nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li:first-child{
  border-left:  0.5px solid #626262;
}

nav ul li:hover{
  background-color: #d0d0d0;
}

nav ul li:hover a{
  color: black;
}
