body{
  font-style: Times, Serif;
  font-size: 1em;
  margin: 0px;
  align: center;
  width: 90%;
  margin: auto;
  background-color: #494949;
  color: #ffa64d;
}
h1, h2, h3, h4{
  color: #009;
}

section{
  /* border: 2px solid green ; */
  text-align: center;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* background-color: #000066; */
}
article{
  /* border: 2px solid red ; */
  text-align: left;
}
article h2{
  text-align: center;
}
/*uniquement pour la page d'acceuil*/
article h3{
  padding-left: 5%;
}
/*uniquement pour la page jobs*/
section .jobs{
  border: 0.5px solid white;
  width: 80%;
  margin: auto;
}
section .jobs article{
  margin: 1%;
}
section .jobs article h3{
  justify-content: center;
}
section .jobs article div{
  display: flex;
  justify-content: space-around;
}
section .jobs article img{
  width: 20%;
}
section .jobs p::after h3{
  width: 70%;
}
/*pour la page client*/
section .addContract{
  width: 450px;
  height: 70px;
  margin: auto;
  border: 0.5px solid white;
  float: left;
}
section .addContract a{
  height: 80%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
section .addContract a img{
  max-width: 50px;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
/*style sheet for froms*/
form input{
  margin-left: 1%;
  height: 5%;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #494949;
  resize: none;
  color: #ffa64d;
}
/* form{
  display: flex;
  justify-content: center;
} */
form .hide{
  display: none;
}

/*part of style sheet for footer*/
footer{
  text-align: justify;
}
